.contact-table th{
    text-align: left;
    color: deepskyblue;
}


#TuGis{
    text-decoration: none;
    color: white;
}

#TuGis:hover{
    text-decoration: none;
    color: coral;
}

.table{
    border-spacing: 40px;
}